/* COLORI */
:root {
    --color-white: #fefefe;
    --color-green: #22ad96;
    --color-purple: #3f3a64;
    --color-grey-light: #f5f7fa;
    --color-grey-yellow: #f8f8f8;
    --color-baige: #f5f1ed;
    --color-dark-light: #696969;
    --color-purple-light: #8c89a2;
    --color-grey-dark: #dedbd9;
    --color-grey: #e9e6e3;
}

.bg-personal-grey {
    background-color: var(--color-grey);
}

.bg-personal-grey-light {
    background-color: var(--color-grey-light);
}

.bg-personal-grey-yellow {
    background-color: var(--color-grey-yellow);
}

.bg-personal-white {
    background-color: var(--color-white);
}

.bg-personal-baige {
    background-color: var(--color-baige);
}

.bg-personal-grey-dark {
    background-color: var(--color-grey-dark);
}

.bg-personal-green {
    background-color: var(--color-green);
    color: var(--color-white);
}

.p-color-green {
    color: var(--color-green);
}

.p-color-purple {
    color: var(--color-purple);
}

.p-color-light-dark {
    color: var(--color-dark-light);
}

/* RESET */
ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li i {
    color: var(--color-green);
}

/* BOTTONI */
.btn-per-green {
    background-color: var(--color-green);
    color: var(--color-white);
    border-color: #22ad96;
}

.hov-purple {
    color: var(--color-purple);
}

/* HEADER*/
.logo {
    width: 15%;
}

/* MAIN */


/* SEZIONE COMPLETE YOUR DREAMS*/
.tiny-menu {
    background-color: var(--color-white);
    top: 50px;
    right: 0;
}

.bt-active:hover {
    background-color: var(--color-purple);
}


.active-square:hover {
    background-color: var(--color-white);
    border-left: 2px solid var(--color-green);
}

/* SEEZIONE CAREER PERSPECTIVE*/
.home-cloud {
    height: 70%;
    z-index: -1;
    top: 100px;
    left: -35px;
}

/* SEZIONE CORSI*/
.badge-cost {
    background-color: var(--color-green);
    color: var(--color-grey-light);
    font-size: 1.3rem;
    width: 85px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-name {
    font-size: 0.9rem;
}

.bg-personal-white-active:hover {
    background-color: var(--color-white);
    cursor: pointer;
}

/* SEZIONE LEARN AT YOUR OWN PACE*/

.back-hero-cloud {
    height: 90%;
    z-index: -1;
    top: 100px;
    left: 100px;
}

.back-hero-shape {
    z-index: -1;
    top: 55%;
    right: 20%;

}

/* SEZIONE LEARN MOBILE*/

.back-home-cloud {
    height: 90%;
    z-index: -1;
    top: 90px;
    left: 50px;
}

.back-home-shape {
    z-index: -1;
    top: 57%;
    right: 12%;

}

.back-home-line {
    z-index: -1;
    top: 45%;
    left: 0;
    transform: translate(-30px);
}

/* SEZIONE PARTNER */
.img-parteners {
    border-radius: 50%;
    width: 45%;
}


.point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-grey-dark);
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.point-active {
    background-color: var(--color-dark-light);
    width: 15px;
    height: 15px;
}

.hh {
    height: 100%;
}